@mixin wrapper($margin, $padding, $maxwidth:null) {
	width: $width-phone;
	margin: $margin;
	margin-left: auto;
	margin-right: auto;
	padding: $padding;
	padding-left: 20px;
	padding-right: 20px;
	max-width: $maxwidth;

	@media (min-width: $breakpoint-tablet) {
  	width: $width-tablet;
  	padding-left: 0;
  	padding-right: 0;
  }

  @media (min-width: $breakpoint-laptop) {
    width: $width-laptop;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $breakpoint-desktop) {
    width: $width-desktop;
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin border-box() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
