/* ==========================================================================
   Variables
   ========================================================================== */


/* Colors */
$orange: #f1884c;
$blue: #7cb6c1;
$white: #fff;
$offWhite: #ecf2f3;
$black: #0c1723;
$lightGray: #ecf2f3;
$gray: #5b6670;
$darkGray: #1f242d;
/* Breakpoints */
$breakpoint-phone: 600px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1000px;
$breakpoint-desktop: 1280px;

/* Wrapper Widths */
$width-phone: auto;
$width-tablet: 720px;
$width-laptop: 960px;
$width-desktop: 1200px;


/* Fonts */
$font-default: 'Nunito Sans', sans-serif;

/* Font Sizes */
$font-1: 18px;
$font-2: 1.333em; //24px
$font-3: 1.556em; //28px
$font-4: 1.889em; //34px
$font-5: 3.000em; //54px
$font-6: 3.333em; //60px
$font-s: 0.833em; //15px
$font-xs: 0.667em; //12px

$light: 300; //light font weight
$regular:400; //regular font weight
$sbold: 600; //semi-bold
$bold: 700; //bold font weight
$xbold: 800; //extra bold font weight

/* Global Variables */
$global-padding: 25px;
