@import 'reset';
@import 'variables';
@import 'mixins';

img {
	max-width: 100%;
	height: auto !important;
}

/**** Typography Defaults ****/
body {
	font-size: $font-1;
	font-family: $font-default;
	color: $black;
	background-color: $white;
	-webkit-font-smoothing: antialiased;
}

h1 {
  font-size: $font-6;
  font-weight: $xbold;
  color: $white;
	line-height: 1.2em;
}

h2 {
  font-size: $font-2;
	color: $orange;
	font-weight: $bold;
	margin-bottom: $global-padding * 1;
	text-transform: uppercase;
	line-height: 1.2em;
}

h3 {
  font-size: $font-6;
	margin-bottom: $global-padding;
	font-weight: $light;
	line-height: 1.2em;
}

h4 {
  font-size: $font-2;
  color: $black;
}
h5 {
	font-size: $font-1;
	font-weight: $bold;
	margin-bottom: auto;
	color: $gray;
}

p {
  margin-bottom: 1.5em;
  line-height: 1.5em;
  color: $black;
  font-weight: $regular;
  font-size: $font-1;

   &:last-child {
    margin-bottom: 0;
  }

  strong, b {
	  font-weight: $bold;
  }
}

a {
	text-decoration: none;
	color: $blue;
	font-weight: $xbold;
	letter-spacing: 0.05em;

  &.button {
		display: inline-block;
		text-transform: uppercase;
		color: $white;
		padding: 15px 40px;
    background-color: $orange;
    border-radius: 0px;
    border: 2px $orange solid;

    &:hover {
	  	background-color: transparent;
	  	color: $orange;
  	}
  }

  &:hover {
	  color: $orange;
  }
}


//start of Hero section
#hero {
  position: relative;
  background-image: url('../images/hero.jpg');
  background-size: cover;

  .container {
    @include wrapper(auto, 50px, 100%);

		img {
			max-width: 300px;
			margin-bottom: 50px;
		}

		h1 {
			font-size: 2em;
			display: inline-block;
			margin-bottom: 100px;
		}
  }
}

@media (min-width: $breakpoint-laptop) {
	#hero {
		.container {
			img {
					margin-bottom: 100px;
			}

			h1 {
				display: block;
				width: 75%;
				margin-bottom: 200px;
				font-size: 3.333em;
			}
		}
	}
}
//end of Hero section

//start of Products section
#products {
	@include wrapper(auto, 50px);

	.product {
		.content {
			@include border-box();
			padding: $global-padding 0px;

			h3 {
			}
		}
	}
}

@media (min-width: $breakpoint-laptop) {
	#products {
		padding: 100px 0px;

		.product {
			.content {
				display: inline-block;
				width: 49%;
				padding-top: 0px;
				vertical-align: top;

				h3 {
					font-size: 3em;
				}

				p:last-of-type {
					margin-bottom: $global-padding * 2;
				}
			}

			figure {
				display: inline-block;
				margin-left: 2%;
				margin-right: -4px;
				width: 49%;
				vertical-align: middle;
			}
		}
	}
}
// end of Products section

#about {
	background-color: $lightGray;

	.container {
		@include wrapper(auto, 50px);

		.content {
			@include border-box();
			margin-bottom: $global-padding;
		}

		.contact {
			li {
				margin: 25px 0px;
				i {
					display: inline-block;
					height: 30px;
					width: 30px;
					margin-right: $global-padding;
					background-size: contain;
					background-position: center center;
					vertical-align: middle;

					&.phone {
						background-image: url('../images/icon_phone.png');
					}

					&.email {
						background-image: url('../images/icon_email.png');
					}
				}

				p {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
}

@media (min-width: $breakpoint-laptop) {
	#about {
		.container {
			padding: 100px 0px;
			overflow-y: hidden;

			.content {
				display: block;
			}

			.contact {
				li {
					display: inline-block;
					width: 25%;
				}
			}
		}
	}
}
//end of About section

//start of footer
footer {
	background-color: #555555;

	.container {
		@include wrapper(auto, $global-padding);
		text-align: center;
	}

	img {
		max-width: 250px;
		margin-bottom: $global-padding;
		-webkit-filter: brightness(0) invert(1);
		filter: brightness(0) invert(1);
	}

	span {
		display: block;
		color: $white;
	}
}

@media (min-width: $breakpoint-laptop) {
	footer {
		.container {
			padding: 50px 0px;
			text-align: right;
		}
	}
}
//end of footer
